@model EntityLayer.Concrete.Customer
@{
    ViewData["Title"] = "AddCustomer";
    Layout = "~/Views/Shared/UILayout.cshtml";
}

<h1>Müşteri Ekleme Sayfası</h1>

<form method="post">
    @Html.Label("Müşteri Adı")
    @Html.TextBoxFor(x=>x.Name, new {@class="form-control"})
    @Html.ValidationMessageFor(x=>x.Name)
    <br />
    @Html.Label("Müşteri Şehri")
    @Html.TextBoxFor(x=>x.City, new {@class="form-control"})
    @Html.ValidationMessageFor(x=>x.City)
    <br />
    @Html.Label("Müşteri Mesleği")
    @Html.DropDownListFor(x=>x.JobID,(List<SelectListItem>)ViewBag.v, new {@class="form-control"})
    <br />
    <button class="btn btn-outline-success">Kaydet</button>
</form>

